<h1>Login to your account</h1><br>

<%# WORKS but requires adjustment to params %>
<%# <%= form_for(:session, url: login_path) do |f| %1> %>
<%#   <%= f.label :name %1><br> %>
<%#   <%= f.text_field :name %1><br> %>

<%#   <%= f.submit "Login" %1> %>
<%# <% end %1> %>

<%# WORKS!! %>
<%# <%= form_tag login_path do |form| %1> %>
<%#   <%= label_tag :name %1><br> %>
<%#   <%= text_field_tag :name %1><br><br> %>

<%#   <%= sessions_path %1><br> %>
<%#   <%= login_path %1> %>

<%#   <%= submit_tag "Login" %1><br> %>
<%# <% end %1> %>
<%# <br> %>

<%# <1%# Best practice going forward: %1> %>
<%= form_with(url: login_path) do |form| %>
  <%= form.label :name %><br>
  <%= form.text_field :name %><br>

  <%= form.submit "Login" %>
<% end %>
