<h1>Login to your account</h1><br>

<% if logged_in? %>
  <br><%= link_to "View your profile", current_user %><br><br>
  <br><%= link_to "Logout", logout %><br>
<% else %>

  <%# Best practice going forward: %>
  <%# <%= form_with(url: login_path) do |form| %1> %>
  <%#   <%= form.label :name %1><br> %>
  <%#   <%= form.text_field :name %1><br> %>

  <%#   <%= form.submit "Login" %1> %>
  <%# <% end %1> %>

  <%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>

    <%= f.submit "Login" %><br>
  <% end %>

  <br><%= link_to "New user? Sign up here!", signup_path %><br><br>
<% end %>
