<h1>Username: </h1>
<p><%= @user.name %></p>
<p> Created at: <%= @user.created_at %> </p>
<p> Updated at: <%= @user.updated_at %></p>

<h2> Events Created: </h2>

<% @events.each do |event| %>
  <p>Event day: <%= event.day %></p>
  <p>Event location: <%= event.location %></p>
  <p>Event description: <%= event.description %></p>
<% end %>
