<% if logged_in? %>
  <% unless current_page?(current_user) %>
    <p><%= link_to "Your profile", current_user %></p>
  <% end %>

  <% unless current_page?(events_new_path) %>
    <%= link_to "Create a new event", events_new_path %>
  <% end %>
  <p><%= link_to "Logout", logout_path, method: :delete %></p>
<% else %>
    <% unless current_page?(login_path) %>
      <p><%= link_to "Already a user? Login here", login_path %></p>
    <% end %>

    <% unless current_page?(signup_path) %>
      <p><%= link_to "New user? Sign up here", signup_path %></p>
    <% end %>
<% end %>

<% unless current_page?(root_url) %>
  <p><%= link_to "Home", root_url %></p>
<% end %>
