<%= form_with(model: @event) do |f| %>
  <p><%= f.label :day %></p>
  <p><%= f.date_field :day %></p>

  <p><%= f.label :location %></p>
  <p><%= f.text_field :location %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_field :description %></p>

  <p><%= f.submit "Create event!" %></p>
<% end %>
